name: GAMBIT-light CI

on:
  push:
    branches: temp_gambit_light_ci_test

jobs:
  gambit-light_test:
    runs-on: [docker, self-hosted]
    # env:
    #   GAMBIT_LIGHT_SYNC_SECRET: ${{ secrets.GAMBIT_LIGHT_SYNC_SECRET }}
    strategy:
      fail-fast: false
      matrix:
        arch: [ubuntu] #, ubuntu-py2, fedora
        #mpi: [ON, OFF]
    container: gambitbsm/gambit-base:${{ matrix.arch }}
    defaults:
      run:
        shell: bash -eo pipefail {0}
    steps:
    - name: git settings
      run: |
        git config --global credential.https://github.com.username git
        git config --global credential.https://github.com.password ${{ secrets.GAMBIT_LIGHT_SYNC_SECRET }}
    # - run: git config --global url.https://$GAMBIT_LIGHT_SYNC_SECRET@github.com/.insteadOf https://github.com/
    - name: Checkout GAMBIT-light repository
      uses: actions/checkout@v4
      with:
        # persist-credentials: false
        repository: GambitBSM/gambit_light
        ref: master
        token: ${{ secrets.GAMBIT_LIGHT_SYNC_SECRET }}
    - name: Set up build environment
      run: |
        mkdir -p BUILD
        cd BUILD
        echo "Sourcing setup.sh"
        cat /etc/profile.d/gambit-setup.sh
        source /etc/profile.d/gambit-setup.sh
        echo "Making buildenv.sh"
        > buildenv.sh
        echo "source /etc/profile.d/gambit-setup.sh" >> buildenv.sh
        echo "export CMAKE_BUILD_TYPE=None" >> buildenv.sh
        echo "export CMAKE_C_COMPILER=$(which gcc)" >> buildenv.sh
        echo "export CMAKE_CXX_COMPILER=$(which g++)" >> buildenv.sh
        echo "export CMAKE_Fortran_COMPILER=$(which gfortran)" >> buildenv.sh
        PYTHON_LIBRARY=$(python -c 'from __future__ import print_function; from distutils.sysconfig import get_config_var; print("%s/%s" % (get_config_var("LIBDIR"), get_config_var("INSTSONAME")))')
        PYTHON_INCLUDE_DIR=$(python -c 'from __future__ import print_function; from distutils import sysconfig; print(sysconfig.get_config_var("INCLUDEPY"))')
        echo "export PYTHON_EXECUTABLE=$(which python)" >> buildenv.sh
        echo "export PYTHON_LIBRARY=$PYTHON_LIBRARY" >> buildenv.sh
        echo "export PYTHON_INCLUDE_DIR=$PYTHON_INCLUDE_DIR" >> buildenv.sh
        echo "export LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH" >> buildenv.sh
        cat buildenv.sh
        pip install --upgrade pyyaml pybind11 h5py scipy numpy configobj matplotlib setuptools==58.2.0
    - name: Configure with cmake
      run: |
        cd BUILD/ && . buildenv.sh
        cmake .. -D WITH_MPI=Off
    - name: Build scanners
      run: |
        cd BUILD/ && . buildenv.sh
        make -j$(( ($(nproc)+1)/2 )) scanners
        cmake ..
    - name: Build Gambit
      run: |
        cd BUILD && . buildenv.sh
        make -j$(( ($(nproc)+1)/2 )) gambit
    - name: CLI test
      run: |
        . BUILD/buildenv.sh
        ./gambit -h
    - name: Test run with gambit_light_example.yaml
      run: |
        . BUILD/buildenv.sh
        ./gambit -rf yaml_files/gambit_light_example.yaml
