name: Gambit Ubuntu CI on GitHub

on:
  push:
    branches: [ master, ci-* ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron:  '0 5 * * *'

jobs:
  gambit_build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [X64]
    defaults:
      run:
        shell: bash -eo pipefail {0}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up build environment
      run: |
        echo "Set up the build environment"
        sudo apt-get -y install --no-install-recommends \
          build-essential \
          gfortran \
          curl \
          wget \
          cmake \
          git \
          python3-yaml \
          libboost-all-dev \
          libgsl-dev \
          libeigen3-dev \
          liblapack-dev \
          pkg-config && \
          apt-get clean
        
        sudo apt install -y gcc-10 g++-10 gfortran-10
        
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 10 --slave /usr/bin/g++ g++ /usr/bin/g++-10 --slave /usr/bin/gfortran gfortran /usr/bin/gfortran-10
        
        sudo apt-get -y install --no-install-recommends \
          libhdf5-dev \
          libopenmpi-dev \
          libcfitsio-dev \
          libfftw3-dev \
          libxml2-dev \
          sqlite3 \
          libsqlite3-dev \
          libgmp-dev \
          libmpfr-dev \
          libmpc-dev \
          python3-venv \
          python3-pip \
          python3-dev \
          libhdf5-dev && \
          apt-get clean
          
        sudo mkdir -p /opt/venv
        
        python3 -m venv /opt/venv && \
          /opt/venv/bin/python -m pip install --upgrade pip setuptools wheel && \
          /opt/venv/bin/pip install \
          cython \
          configobj \
          pandas \
          pathos \
          joblib \
          numpy \
          scipy \
          numba \
          matplotlib \
          future \
          pyyaml \
          dill
        
        PATH="/opt/venv/bin:${PATH}"
        
        #sudo apt-get -y install --no-install-recommends \
        #    binutils dpkg-dev libssl-dev libx11-dev \
        #    libxext-dev libxft-dev libxpm-dev libtbb-dev libgif-dev \
        #    libpcre3-dev \
        #    libglu1-mesa-dev libglew-dev libftgl-dev \
        #    libgraphviz-dev \
        #    libavahi-compat-libdnssd-dev libldap2-dev \
        #    python3-dev libkrb5-dev \
        #    qtwebengine5-dev nlohmann-json3-dev  \
        #    libmariadb-dev-compat libmariadb-dev \
        #    libgl2ps-dev \
        #    liblzma-dev libxxhash-dev liblz4-dev libzstd-dev && \
        #    apt-get clean
        
        #wget https://github.com/Kitware/CMake/releases/download/v3.24.1/cmake-3.24.1-Linux-x86_64.sh \
        #  -q -O /tmp/cmake-install.sh \
        #  && chmod u+x /tmp/cmake-install.sh \
        #  && mkdir /opt/cmake-3.24.1 \
        #  && /tmp/cmake-install.sh --skip-license --prefix=/opt/cmake-3.24.1 \
        #  && rm /tmp/cmake-install.sh \
        #  && ln -s /opt/cmake-3.24.1/bin/* /usr/local/bin
        
        # TODO: Install ROOT
        
        mkdir -p BUILD
        cd BUILD
    - name: Configure with cmake
      run: |
        echo "Configure with cmake"
        cd BUILD
        cmake -DWITH_MPI=ON -DWITH_HEPMC=ON -Ditch="great" ..
    - name: Build scanners
      run: |
        echo "Build scanners"
        cd BUILD
        make -j28 scanners
        cmake ..
    - name: Build Gambit
      run: |
        echo "Build GAMBIT."
        cd BUILD
        # Now build Gambit
        make -j28 gambit
    - name: CLI test
      run: |
        echo "Run the test of gambit help"
        ./gambit -h
    - name: Run spartan.yaml
      run: |
        echo "Testing spartan.yaml (with cout printer)"
        sed -i 's/ hdf5/ cout/g' yaml_files/spartan.yaml
        ./gambit -rf yaml_files/spartan.yaml 


  backends_build:
    needs: [gambit_build] # Sets run order
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [X64]
    defaults:
      run:
        shell: bash -eo pipefail {0}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up build environment
      run: |
        echo "Set up the build environment"
        mkdir -p BUILD
        cd BUILD
    - name: Configure with cmake
      run: |
        echo "Configure with cmake"
        cd BUILD
        cmake -DWITH_MPI=ON -DWITH_HEPMC=ON -DBUILD_FS_MODELS="CMSSM;MSSM;MDM" -Ditch="great" ..
    - name: Build Backends
      run: |
        echo "Building all Backends"
        cd BUILD
        # Build backends, except those that are tested via other jobs.
        # This replaces the "make backends" command.
        ../cmake/scripts/build_backends.sh -f default_backends.txt -j 1 -s "nulike susyhit rivet contur pythia higgsbounds higgssignals ATLAS_FullLikes superiso heplikedata heplike" 


  test_runs:
    needs: [gambit_build, backends_build] # Sets run order
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [X64]
    defaults:
      run:
        shell: bash -eo pipefail {0}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up build environment
      run: |
        echo "Set up the build environment"
        mkdir -p BUILD
        cd BUILD
    - name: Configure with cmake
      run: |
        echo "Configure with cmake"
        cd BUILD
        cmake -DWITH_MPI=ON -DWITH_HEPMC=ON -DBUILD_FS_MODELS="CMSSM;MSSM;MDM" -Ditch="Cosmo;Neutrino;great" ..
    - name: Build required scanners
      run: |
        echo "Build scanners required for test runs"
        cd BUILD
        make -j28 diver
        cmake ..
    - name: Build required backends
      run: |
        echo "Building backends required for test runs"
        cd BUILD
        make pythia
        make higgssignals
        make nulike
        make ATLAS_FullLikes
        make susyhit
        make heplike
        make superiso
        make rivet
        make contur
        echo "Running cmake again, since this is required for ColliderBit/pythia"
        cmake ..
    - name: Build Gambit
      run: |
        echo "Build GAMBIT."
        cd BUILD
        # Now build Gambit
        make -j28 gambit
    - name: Run ColliderBit_CMSSM.yaml
      run: |
        echo "Test run with ColliderBit_CMSSM.yaml"
        ./gambit -f yaml_files/ColliderBit_CMSSM.yaml
    - name: Run WC_lite.yaml
      run: |
        echo "Test run with WC_lite.yaml (no printing)"
        sed -i "" 's/ hdf5/ none/g' yaml_files/WC_lite.yaml
        ./gambit -f yaml_files/WC_lite.yaml


  standalones_build:
    needs: [gambit_build, backends_build, test_runs] # Sets run order
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [X64]
    defaults:
      run:
        shell: bash -eo pipefail {0}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up build environment
      run: |
        echo "Set up the build environment"
        mkdir -p BUILD
        cd BUILD
    - name: Configure with cmake
      run: |
        echo "Configure with cmake"
        cd BUILD
        cmake -DWITH_MPI=ON -DWITH_HEPMC=ON -DBUILD_FS_MODELS="CMSSM;MSSM;MDM" -Ditch="great" ..
    - name: Build standalones
      run: |
        echo "Test the building of the standalones"
        cd BUILD
        make standalones
