name: Sync Files from GambitBSM/gambit to GambitBSM/gambit_light
on:
  push:
    branches:
      - master__gambit_light_test
  workflow_dispatch:
jobs:

  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Run GitHub File Sync
        uses: maikenp/repo-file-sync-action@v0.0
        # uses: BetaHuhn/repo-file-sync-action@v1
        with:
          GH_PAT: ${{ secrets.GAMBIT_FORK_SYNC_SECRET }}
          PR_BODY: "***This PR is auto-created to ensure that files are synced with GambitBSM/gambit:master__gambit_light_test***"

