name: Sync Files from GambitBSM/gambit to GambitBSM/gambit_light
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:

  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@v1
        with:
          GH_PAT: ${{ secrets.GAMBIT_FORK_SYNC_SECRET }}

