name: Sync Files from GambitBSM/gambit:gambit_light_sync to GambitBSM/gambit_light:gambit_light_sync

on:
  push:
    branches:
      - gambit_light_sync
  workflow_dispatch:

jobs:
  sync:
    # runs-on: [self-hosted, macOS, Arm64]
    runs-on: [self-hosted, X64]
    strategy:
      fail-fast: false
      matrix:
        arch: [X64]
    defaults:
      run:
        shell: bash -eo pipefail {0}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      # This action expects a file .github/sync.yml containing the 
      # the list of files to be included in the sync process. 
      - name: Run GitHub File Sync
        # uses: maikenp/repo-file-sync-action@v0.0
        uses: BetaHuhn/repo-file-sync-action@v1
        with:
          GH_PAT: ${{ secrets.GAMBIT_LIGHT_SYNC_SECRET }}
          PR_BODY: "***This PR is auto-created to ensure that files are synced with GambitBSM/gambit:gambit_light_sync***"
