name: Sync Files from GambitBSM/gambit:gambit_light_sync to GambitBSM/gambit_light:gambit_light_sync

on:
  push:
    branches:
      - gambit_light_sync
  workflow_dispatch:

jobs:
  sync:
    runs-on: [docker, self-hosted]
    strategy:
      fail-fast: false
      matrix:
        arch: [ubuntu] #, ubuntu-py2, fedora
    container: gambitbsm/gambit-base:${{ matrix.arch }}
    defaults:
      run:
        shell: bash -eo pipefail {0}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Run GitHub File Sync
        uses: maikenp/repo-file-sync-action@v0.0
        # uses: BetaHuhn/repo-file-sync-action@v1
        with:
          GH_PAT: ${{ secrets.GAMBIT_LIGHT_SYNC_SECRET }}
          PR_BODY: "***This PR is auto-created to ensure that files are synced with GambitBSM/gambit:gambit_light_sync***"

